#parse("/WEB-INF/template/layout/head.vm")
	</head>
	<body>
#parse("/WEB-INF/template/layout/topbar.vm")

		<section id="body">
			<div class="wrapper">
				<article class="column_1">
					<header>
						<h2 class="setting-header">契約書</h2>

						<div class="divider"></div>

					</header>

					<section class="derection">
						<div class="derection-teacher">
							<img src="../img/user/1.png" class="pic-min" /><div class="derection-user">坂本 諒</div>
						</div>
						<div class="to">＞</div>
						<div class="derection-teacher">
							<img src="../img/user/6.png" class="pic-min" /><div class="derection-user">由柚</div>
						</div>
					</section>

					<article class="document">
						<form>
							<h3 class="sub-header">指導形式（講師記入項目）</h3>
							<div class="divider"></div>
							<fieldset class="control-group">
								<div class="control-inner">
									<label class="setting-label">指導科目</label>
									<div class="controls">
										<p class="document-text">数学</p>
									</div>
								</div>
								<div class="control-inner">
									<label class="setting-label">授業料/１時間</label>
									<div class="controls">
										<p class="document-text">2500円</p>
									</div>
								</div>
								<div class="control-inner">
									<label class="setting-label">授業時間/１回</label>
									<div class="controls">
										<p class="document-text">120分</p>
									</div>
								</div>
								<div class="control-inner">
									<label class="setting-label">授業回数/１ヶ月あたり</label>
									<div class="controls">
										<p class="document-text">8回</p>
									</div>
								</div>
								<div class="control-inner">
									<label class="setting-label">指導方法</label>
									<div class="controls">
										<p class="document-text">skype</p>
									</div>
								</div>
								<div class="control-inner">
									<label class="setting-label">曜日、時間等</label>
									<div class="controls">
										<p class="document-text">火、木の19時以降</p>
									</div>
								</div>
							</fieldset>

							<h3 class="sub-header">支払（講師記入項目）</h3>
							<div class="divider"></div>
							<fieldset class="control-group">
								<div class="control-inner">
									<label class="setting-label">小計</label>
									<div class="controls">
										<p class="document-text">2500円</p>
									</div>
								</div>

								<div class="control-inner">
									<label class="setting-label">合計</label>
									<div class="controls">
										<p class="document-text">2750円</p>
									</div>
								</div>
							</fieldset>

							<h3 class="sub-header">振込先（講師記入項目）</h3>
							<div class="divider"></div>
							<fieldset class="control-group">
								<div class="control-inner">
									<label class="setting-label">名義</label>
									<div class="controls">
										<p class="document-text">サカモトリョウ</p>
									</div>
								</div>

								<div class="control-inner">
									<label class="setting-label">銀行名</label>
									<div class="controls">
										<p class="document-text">三井住友銀行</p>
									</div>
								</div>

								<div class="control-inner">
									<label class="setting-label">支店名</label>
									<div class="controls">
										<p class="document-text">横浜駅前支店</p>
									</div>
								</div>

								<div class="control-inner">
									<label class="setting-label">支店番号</label>
									<div class="controls">
										<p class="document-text">547</p>
									</div>
								</div>

								<div class="control-inner">
									<label class="setting-label">口座科目</label>
									<div class="controls">
										<p class="document-text">普通</p>
									</div>
								</div>

								<div class="control-inner">
									<label class="setting-label">口座番号</label>
									<div class="controls">
										<p class="document-text">8392121</p>
									</div>
								</div>
							</fieldset>

							<h3 class="sub-header">講師情報（講師記入項目）</h3>
							<div class="divider"></div>
							<fieldset class="control-group">
								<div class="control-inner">
									<label class="setting-label">講師名</label>
									<div class="controls">
										<p class="document-text">坂本 諒</p>
									</div>
								</div>
								<div class="control-inner">
									<label class="setting-label">〒</label>
									<div class="controls">
										<p class="document-text">221-0866</p>
										</div>
								</div>
								<div class="control-inner">
									<label class="setting-label">住所（都道府県）</label>
									<div class="controls">
										<p class="document-text">神奈川県</p>
									</div>
								</div>
								<div class="control-inner">
									<label class="setting-label">住所（市町村以下）</label>
									<div class="controls">
										<p class="document-text">横浜市神奈川区上反町2-18-3ベルメゾン反町305</p>
									</div>
								</div>
							</fieldset>


							<h3 class="sub-header">生徒情報（生徒記入項目）</h3>
							<div class="divider"></div>
							<fieldset class="control-group">
								<div class="control-inner">
									<label class="setting-label">生徒名</label>
									<div class="controls">
										<input type="text" class="input-small" value="" placeholder="姓" />
										<input type="text" class="input-small" value="" placeholder="名" />
									</div>
								</div>
								<div class="control-inner">
									<label class="setting-label">保護者名</label>
									<div class="controls">
										<input type="text" class="input-small" placeholder="姓" />
										<input type="text" class="input-small" placeholder="名" />
									</div>
								</div>
								<div class="control-inner">
									<label class="setting-label">〒</label>
									<div class="controls">
										<input type="text" class="input-min" /> -
										<input type="text" class="input-min" />
									</div>
								</div>
								<div class="control-inner">
									<label class="setting-label">住所（都道府県）</label>
									<div class="controls">
										<select>
											<option></option>
											<option value="北海道">北海道</option>
											<option value="青森県">青森県</option>
											<option value="岩手県">岩手県</option>
											<option value="宮城県">宮城県</option>
											<option value="秋田県">秋田県</option>
											<option value="山形県">山形県</option>
											<option value="福島県">福島県</option>
											<option value="茨城県">茨城県</option>
											<option value="栃木県">栃木県</option>
											<option value="群馬県">群馬県</option>
											<option value="埼玉県">埼玉県</option>
											<option value="千葉県">千葉県</option>
											<option value="東京都">東京都</option>
											<option value="神奈川県">神奈川県</option>
											<option value="新潟県">新潟県</option>
											<option value="富山県">富山県</option>
											<option value="石川県">石川県</option>
											<option value="福井県">福井県</option>
											<option value="山梨県">山梨県</option>
											<option value="長野県">長野県</option>
											<option value="岐阜県">岐阜県</option>
											<option value="静岡県">静岡県</option>
											<option value="愛知県">愛知県</option>
											<option value="三重県">三重県</option>
											<option value="滋賀県">滋賀県</option>
											<option value="京都府">京都府</option>
											<option value="大阪府">大阪府</option>
											<option value="兵庫県">兵庫県</option>
											<option value="奈良県">奈良県</option>
											<option value="和歌山県">和歌山県</option>
											<option value="鳥取県">鳥取県</option>
											<option value="島根県">島根県</option>
											<option value="岡山県">岡山県</option>
											<option value="広島県">広島県</option>
											<option value="山口県">山口県</option>
											<option value="徳島県">徳島県</option>
											<option value="香川県">香川県</option>
											<option value="愛媛県">愛媛県</option>
											<option value="高知県">高知県</option>
											<option value="福岡県">福岡県</option>
											<option value="佐賀県">佐賀県</option>
											<option value="長崎県">長崎県</option>
											<option value="熊本県">熊本県</option>
											<option value="大分県">大分県</option>
											<option value="宮崎県">宮崎県</option>
											<option value="鹿児島県">鹿児島県</option>
											<option value="沖縄県">沖縄県</option>
										</select>
									</div>
								</div>
								<div class="control-inner">
									<label class="setting-label">住所（市町村以下）</label>
									<div class="controls">
										<textarea class="input-large"></textarea>
									</div>
								</div>
							</fieldset>

							<h3 class="sub-header">諸規約</h3>
							<div class="divider"></div>
							<fieldset class="control-group">
								<div class="control-inner">
									<div class="controls">
										<input type="checkbox" id="term" /><label for="term">規約に同意する</label>
									</div>
								</div>
							</fieldset>


							<div class="control-btn">
								<input type="submit" class="submit-btn" value="契約書を確認する"/>
							</div>
						</form>
					</article>
				</article>

#parse("/WEB-INF/template/layout/right.vm")
			</div>
		</section>
#parse("/WEB-INF/template/layout/footer.vm")
	</body>
</html>