<!DOCTYPE html>
<html lang="ja" >
	<head>
		<meta charset="UTF-8">
		<title>知り合いを招待 / オンライン家庭教師のT-cial</title>
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../Bootstrap-T/style.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/settings.css" />

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	</head>
	<body>
		<header id="header">
			<div id="top-nav">
				<div class="wrapper">
					<a><h1 id="logo">
						オンライン家庭教師・個別指導塾のT-cialのT-cial
					</h1></a>
					<nav id="util">
						<ul class="dropdown-menu">
							<li>
								<a><img src="../img/user/1.png" class="pic-ss" /><span id="topbar-username">坂本諒</span><span class="caret"></span></a>
								<ul id="dropdown" >
									<li><a class="active" href="account.htm">アカウント設定</a></li>
									<li><a href="profile/profile.htm">プロフィール変更</a></li>
									<li><a href="password.htm">パスワード変更</a></li>
									<li><a href="relationship/teachers.htm">つながり</a></li>
									<li><a href="contract.htm">契約設定</a></li>
									<li class="dropdown-divide active"><a href="">招待する</a></li>
									<li><a href="">ログアウト</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<div id="bottom-nav">
				<div class="wrapper">
					<nav>
						<ul class="dropdown-menu">
							<li>
								<a href="../lesson/schedule.htm">授業</a>
								<ul id="lesson-dropdown">
									<li><a href="../lesson/schedule.htm">授業予定</a></li>
									<li><a href="../lesson/report.htm">レポート</a></li>
									<li><a href="../lesson/note.htm">ノート</a></li>
									<li><a href="../lesson/homework.htm">宿題</a></li>
								</ul>
							</li>
							<li>
								<a href="../message/messages.htm">メッセージ</a>
								<ul id="message-dropdown">
									<li><a href="../message/messages.htm">メッセージ一覧</a></li>
									<li><a href="">新規メッセージを作成</a></li>
								</ul>
							</li>
							<li>
								<a href="#">契約</a>
								<ul id="contract-dropdown">
									<li><a href="">契約一覧</a></li>
									<li><a href="">契約書作成</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					<form id="topbar-search">
						<input type="search" class="input-medium" id="searchForm" placeholder="先生を検索" />

						<input type="submit" id="searchBtn" value="検索" />
					</form>

				</div>
			</div>
		</header>

		<section id="body">
			<div class="wrapper">
				<aside class="column_3">
					<h2 class="aside-header">設定</h2>
					<ul class="nav nav-list bs-docs-sidenav">
			          <li><a href="#"><i class="icon-chevron-right"></i> アカウント</a></li>
			          <li><a href="profile/profile.htm"><i class="icon-chevron-right"></i>プロフィール</a></li>
			          <li><a href="password.htm"><i class="icon-chevron-right"></i>パスワード</a></li>
			          <li><a href="relationship/teachers.htm"><i class="icon-chevron-right"></i>つながり</a></li>
			          <li><a href="contract.htm"><i class="icon-chevron-right"></i>契約</a></li>
			          <li><a href="invite.htm"><i class="icon-chevron-right"></i>招待する</a></li>
			        </ul>

					<h3 class="aside-header">おススメの先生</h3>
					<div class="divider"></div>
					<section class="person-li">
						<ul>
							<li>
								<a href="message.htm"><img src="../img/user/11.png" class="pic-ss" /><span class="person-li-name">鈴木 啓佑</span></a>
								<span class="note-date">2012年12月1日</span>
								<span class="aside-inf"><span class="en-min">英語</span><span class="society-min">社会</span><span class="aside-icon"><img src="../img/star.png"></span><span class="aside-count">10</span></span>
							</li>
							<div class="divider"></div>
							<li>
								<a href="message.htm"><img src="../img/user/10.png" class="pic-ss" /><span class="person-li-name">富田 まどか</span></a>
								<span class="note-date">2012年11月24日</span>
								<span class="aside-inf"><span class="ja-min">国語</span><span class="aside-icon"><img src="../img/star.png"></span><span class="aside-count">102</span></span>
							</li>
							<div class="divider"></div>
							<li>
								<a href="message.htm"><img src="../img/user/5.png" class="pic-ss" /><span class="person-li-name">深川 道陽</span></a>
								<span class="note-date">2012年2月1日</span>
								<span class="aside-inf"><span class="math-min">数学</span><span class="science-min">理科</span><span class="aside-icon"><img src="../img/star.png"></span><span class="aside-count">50</span></span>
							</li>
							<div class="divider"></div>
							<li>
								<a href="message.htm"><img src="../img/user/4.png" class="pic-ss" /><span class="person-li-name">桜井 啓太</span></a>
								<span class="note-date">2012年12月12日</span>
								<span class="aside-inf"><span class="en-min">英語</span><span class="aside-icon"><img src="../img/star.png"></span><span class="aside-count">13</span></span>
							</li>
						</ul>
					</section>

					<section class="advertise">
						<img src="../img/ad/ad_1.jpg" />
					</section>
				</aside>

				<article class="column_1">
					<header>
						<h2 class="setting-header">友達を招待</h2>
					</header>
					<div class="divider"></div>
				</article>
			</div>
		</section>

	</body>
</html>