#parse("/WEB-INF/template/layout/head.vm")
	</head>
	<body>
#parse("/WEB-INF/template/layout/topbar.vm")

		<section id="body">
			<div class="wrapper">
#parse("/WEB-INF/template/layout/left.vm")

				<article class="column_1">
					<header>
						<h2 class="setting-header">パスワード変更</h2>
					</header>
					<div class="divider"></div>
					<form>
						<fieldset class="control-group">
							<label class="setting-label">現在のパスワード</label>
							<div class="controls">
								<input type="text" class="input-medium" />
							</div>
						</fieldset>
						<fieldset class="control-group">
							<label class="setting-label">新しいパスワード</label>
							<div class="controls">
								<input type="password" class="input-medium" />
							</div>
						</fieldset>
						<fieldset class="control-group">
							<label class="setting-label">新しいパスワード（確認）</label>
							<div class="controls">
								<input type="password" class="input-medium" />
							</div>
						</fieldset>
						<div class="control-btn">
							<input type="submit" class="submit-btn" value="変更" />
						</div>
					</form>
				</article>
			</div>
		</section>
#parse("/WEB-INF/template/layout/footer.vm")
	</body>
</html>