<!DOCTYPE html>
<html lang="ja" >
	<head>
		<meta charset="UTF-8">
		<title>T-cial  / オンライン家庭教師のT-cial</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/settings.css" />
		<link rel="stylesheet" type="text/css" href="../css/messages.css" />
		<link rel="stylesheet" type="text/css" href="../css/lesson.css" />
		<link rel="stylesheet" type="text/css" href="../css/user.css" />
		<link rel="stylesheet" type="text/css" href="../css/jquery.timepicker.css" />
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" >
		<link rel="shortcut icon" type="image/ico" href="../img/favicon.ico" />
#[[
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/jquery.timepicker.js"></script>

		<!-- トップバー -->
		 <script type="text/javascript">
	        $(function() {
	          if ($.browser.msie && $.browser.version.substr(0,1)<7)
	          {
				$('li').has('ul').mouseover(function(){
					$(this).children('ul').show();
					}).mouseout(function(){
					$(this).children('ul').hide();
					})
	          }
	        });
	    </script>
]]#